<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/app.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Weather App</title>
</head>
<body>
  <div>
    {{>header}}
    <p>You can get to know more about this website on this page</p>
    <P>You can also get to read some documentations here as well.</P>
    <p>Click the homepage link above to navigate back to homepage</p>
    {{>footer}}
  </div>
</body>
</html>