<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="../../public/css/styles.css">
  </head>

  <body>
    {{>header}}
    <p></p>

    <style>
      body {
        color: rgb(15, 15, 78);
        background-color: rgb(192, 192, 192);
        font-family: Arial, Helvetica, sans-serif;
      }
    
      header {
        color: yellow;
      }
    
      p,
      a {
        text-align: center;
        font-size: 25px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.7);
        margin: 30%, 0, 0, 0;
        border-radius: 5px;
      }
    
      a {
        text-decoration: none;
      }
    </style>
  </body>
</html>