<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/styles.css">
  <title>Document</title>
</head>
<body>
  {{>header}}
  <p>This page describe the solutions to the common issues faced by our existing customers</p>
  {{>footer}}


  <style>
    body {
      color: rgb(15, 15, 78);
      background-color: rgb(192, 192, 192);
      font-family: Arial, Helvetica, sans-serif;
    }
  
    header {
      color: yellow;
    }
  
    p,
    a {
      text-align: center;
      font-size: 25px;
      width: 300px;
      background-color: rgba(255, 255, 255, 0.7);
      margin: 30%, 0, 0;
      border-radius: 5px;
    }
  
    a {
      text-decoration: none;
    }
  </style>
</body>
</html>